/* Styling for the navigation bar in home page */
body {
    background-color:snow;
}

ul.nav {
    list-style-type: none;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
}

.hometext {
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color:inherit;
}

nav {
    padding-bottom: 30px;
    margin-top:20px;
}

.navtext {
    font-size: 20px;
    background-color: #D9D9D9;
    padding: 10px 14px 10px 14px;
    border-radius: 10px;
    text-decoration: none;
    color:inherit;
    margin-right:20px;
}

/* Styling for main content of home page */
.intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.intro-textbox {
    display: flex;
    align-items: center;
    padding-left: 25px;
}

body {
    font-family: 'Figtree', sans-serif;
    margin:0px;
}

.aboutme {
    margin-top: 30px;
    margin-bottom: 30px;
}

.aboutme-header {
    font-size:20px;
    font-weight: 700;
    background-color: #BFFAB4;
    width:110px;
    padding:10px;
    text-align: center;
    border-radius: 10px;
    margin:auto;
    position:relative;
    right:270px;
    top:10px;
}

.aboutme-textbox {
    font-size:18px;
    font-weight: 500;
    background-color: #A8EA9C;
    padding: 20px;
    border-radius: 10px;
    width: 579px;
    margin:auto;
}

.mywork-header {
    font-size:20px;
    font-weight: 700;
    background-color: #B4E6FA;
    width:100px;
    padding:10px;
    text-align: center;
    border-radius: 10px;
    margin: auto;
    position: relative;
    right: 350px;
    top: 10px;
}

.mywork-section {
    background-color: #C4D5EC;
    border-radius: 10px;
    width: 780px;
    margin: auto;
}

.mywork-buttons {
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
}

button {
    border:none;
    font-family: 'Figtree', serif;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    width:390px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.design-button {
    background-color:#C4D5EC;
    font-weight:600;
}

.coding-button {
    background-color:#AAC3E6;
}

.projectcards {
    display:flex;
    flex-direction: row;
    padding-top: 30px;
    justify-content: space-evenly;
}

.card {
    display:flex;
    flex-direction: column;
    width: 225px;
    padding-bottom: 30px;
    text-decoration: none;
    color:inherit;
}

.cardimgstyle {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.cardtextstyle{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin:0px;
    padding: 10px 20px 20px 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.cardtextstyle h3{
    margin:0px;
}

/* Styling for footer of home page */
footer {
    background-color: #D9D9D9;
    max-width:100%;
    padding:10px;
    margin-top:70px;
    display:flex;
    flex-direction:column;
    align-items: center;
}

.footer-icons {
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.footer-icon {
    max-width:50px;
    padding-left:10px;
    padding-right:10px;
}

.footer-text {
    font-weight:600;
    font-size:20px;
    text-align: center;
}

/* General hover styling */
.resumebutton:hover {
    background-color: #C0C0C0;
}

/* Styling for Le Goosery Store page */
.backbutton {
    text-decoration: none;
    color: inherit;
    font-size: 18px;
    font-weight: 600;
    background-color: #D9D9D9;
    padding: 13px;
    border-radius: 10px;
    margin-left: 300px;
}

.sidebar {
    position:fixed;
    top:250px;
    list-style-type:none;
    color:inherit;
    padding-left:20px;
}

.sidebarlink {
    text-decoration:none;
    color: inherit;
    line-height: 1.8;
}

.projectheader {
    display: flex;
    flex-direction: row;
    width: 700px;
    margin: auto;
    justify-content: center;
    padding: 30px 50px 30px 50px;
    background-color: #C4D5EC;
    border-radius: 10px;
    margin-top: 30px;
}

.projectimg {
    border-radius: 10px;
    flex-grow: 1;
}

.projecttextheader {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    flex-grow: 2;
}

.projectname {
    margin: 60px 0px 0px 0px;
    font-size: 35px;
}

.projectrole {
    font-style: italic;
    margin: 5px 0px 0px 0px;
    font-size: 20px;
    font-weight:500;
}

.projectduration {
    margin-top:20px;
    font-size: 18px;
}

.projectskill {
    padding: 10px;
    background-color: #FFFFFF;
    border-radius: 20px;
    width: fit-content;
    margin-bottom: 5px;
    font-size: 18px;
    text-align: center;
}

.projectsection {
    display: flex;
    flex-direction: column;
    width:1000px;
    margin:auto;
    margin-top: 20px;
}

.projectsubheader {
    width: fit-content;
    background-color: #C4D5EC;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 0px;
    position: relative;
    top:10px;
    /* right: 20px; */
}

.projectsubheader2 {
    margin: 10px 0px 10px 0px;
}

.projecttextsummary {
    max-width: 830px;
    font-size: 18px;
    background-color: #F4F4F4;
    padding: 20px;
    border-radius: 5px;
    margin-top: 0px;
    text-wrap: wrap;
    line-height: 1.3;
    width:fit-content;
    margin: auto;
}

.gamepromo {
    display:flex;
    flex-direction:column;
    margin:auto;
    width: 200px;
    background-color:#F4F4F4;
    padding: 10px;
    border-radius: 10px;
}

.gamepromoicons {
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
}

.gamepromotext {
    font-size: 17px;
}

.appimg {
    max-height: 70px;
}

.pagedivider {
    width:1100px;
    border-top: 8px solid #C4D5EC;
    border-radius:30px;
    margin-top: 30px;   
}

.projectimg {
    max-height: 350px;
    border-radius: 10px;
}

.projectimghorizontal {
    max-width: 480px;
    border-radius: 10px;
}

.projectimgvertical {
    max-height: 450px;
    border-radius: 10px;
}

.projectsubsection1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.projectsubsection2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.projecttextsmall {
    max-width: 830px;
    font-size: 18px;
    background-color: #F4F4F4;
    padding: 20px;
    border-radius: 5px;
    text-wrap: wrap;
    line-height: 1.3;
    width:fit-content;
    margin: 10px auto 10px auto;
}

.projecttextcaption {
    font-size: 16px;
    background-color: #F4F4F4;
    padding: 10px;
    border-radius: 5px;
    text-wrap: wrap;
    line-height: 1.3;
    width:fit-content;
    margin: 0px;
}

.projecttextcaptioncard {
    width:400px;
    font-size: 16px;
    background-color: #F4F4F4;
    padding: 10px;
    border-radius: 5px;
    text-wrap: pretty;
    line-height: 1.3;
    margin: 0px;
    text-align:center;
}

/* Hover styling for Le Goosery Store */
.sidebarlink:hover {
    font-weight:700;
}

.backbutton:hover {
    background-color: #C0C0C0;
}