.intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.intro-textbox {
    display: flex;
    align-items: center;
    padding-left: 25px;
}

body {
    font-family: 'Figtree', sans-serif;
}

.aboutme {
    margin-top: 30px;
    margin-bottom: 30px;
}

.aboutme-header {
    font-size:20px;
    font-weight: 700;
    background-color: #BFFAB4;
    width:110px;
    padding:10px;
    text-align: center;
    border-radius: 10px;
    margin:auto;
    position:relative;
    right:270px;
    top:10px;
}

.aboutme-textbox {
    font-size:18px;
    font-weight: 500;
    background-color: #A8EA9C;
    padding: 20px;
    border-radius: 10px;
    width: 579px;
    margin:auto;
}

.mywork-header {
    font-size:20px;
    font-weight: 700;
    background-color: #B4E6FA;
    width:100px;
    padding:10px;
    text-align: center;
    border-radius: 10px;
    margin: auto;
    position: relative;
    right: 350px;
    top: 10px;
}

.mywork-section {
    background-color: #C4D5EC;
    border-radius: 10px;
    width: 780px;
    margin: auto;
}

.mywork-buttons {
    display:flex;
    flex-direction:row;
}

.projectcards {
    display:flex;
    flex-direction: row;
}

.card {
    display:flex;
    flex-direction: column;
    width: 225px;
    height: 150px;
}

.cardimgstyle {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.cardtextstyle p{
    background-color: white;
    margin:0px;
}